name: test
on: [push]
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      # - uses: actions/setup-node@v1
      # - run: npm install -g bats
      # - run: bats -v
      #- run: wget -q -c -nc https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
      - run: lsb_release -a && whoami && pwd && ls
      - run: wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip && unzip ngrok-stable-linux-amd64.zip
      #- run: sudo apt-get install openssh-server
      - run: sudo ssh-keygen -A && echo "root:root" | sudo chpasswd
      - run: sudo /usr/sbin/sshd -D &
      - shell: bash
        env:
          NGROK_AUTHTOKEN: ${{ secrets.NGROK }}
        run: mkdir /home/runner/.ngrok2 && echo "authtoken: $NGROK_AUTHTOKEN" > /home/runner/.ngrok2/ngrok.yml
      - run: ./ngrok tcp 22
      - run: curl -s http://localhost:4040/api/tunnels | python3 -c "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"
      - run: sleep 21000
